In [9]:
import pandas as pd
file_name = r"G:\Shared drives\Ryoko and Hilary\SMSigxModel\analysis\data\Coweeta\forcing_daily_2014_2018.csv"
data = pd.read_csv(file_name)
data.head()

         time      PET  precip_rate
0  2015-08-04  0.00496     0.000254
1  2015-08-05  0.00477     0.000000
2  2015-08-06  0.00262     0.005080
3  2015-08-07  0.00276     0.000762
4  2015-08-08  0.00412     0.000000

In [8]:
data["PET"] = data["PET"] * 2
file_name = r"G:\Shared drives\Ryoko and Hilary\SMSigxModel\analysis\data\Coweeta\forcing_daily_2014_2018_x2.csv"
data.to_csv(file_name, index=False)

In [10]:
data["PET"] = data["PET"] * 3
file_name = r"G:\Shared drives\Ryoko and Hilary\SMSigxModel\analysis\data\Coweeta\forcing_daily_2014_2018_x3.csv"
data.to_csv(file_name, index=False)