In [1]:
import spotpy
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [5]:
filename = r"C:\Program Files (x86)\HBV-light\Data\LittleWashita\results\Results.txt"
results = pd.read_csv(filename, delimiter='\t')
results.head()

,Date,Qsim,Qobs,Precipitation,Temperature,AET,PET,Snow,Snowcover,SM,Recharge,SLZ,Q0,Q1,Q2
0,20070919 00:00:00,3.000000e-10,5.800000e-09,0.0,19.5,0.0,0.0,0.0,0.0,100.9,0.0,0.0,0.0,0.0,3.000000e-10
1,20070919 01:00:00,3.000000e-10,5.400000e-09,0.0,18.8,0.0,0.0,0.0,0.0,100.9,0.0,0.0,0.0,0.0,3.000000e-10
2,20070919 02:00:00,3.000000e-10,5.600000e-09,0.0,17.6,0.0,0.0,0.0,0.0,100.9,0.0,0.0,0.0,0.0,3.000000e-10
3,20070919 03:00:00,3.000000e-10,5.600000e-09,0.0,17.0,0.0,0.0,0.0,0.0,100.9,0.0,0.0,0.0,0.0,3.000000e-10
4,20070919 04:00:00,3.000000e-10,5.600000e-09,0.0,17.0,0.0,0.0,0.0,0.0,100.9,0.0,0.0,0.0,0.0,3.000000e-10

In [6]:
obs = results.Qobs.values
sim = results.Qsim.values

In [9]:
spotpy.objectivefunctions.kge(evaluation=obs[~np.isnan(obs)], simulation=sim[~np.isnan(obs)])

0.17464102072320387

In [10]:
spotpy.objectivefunctions.nashsutcliffe(evaluation=obs[~np.isnan(obs)], simulation=sim[~np.isnan(obs)])

0.17074892676525055