In [1]:
# This notebook is a tutorial about how to extract data and metadata from NetCDF files

In [2]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import copy
from pandas.plotting import register_matplotlib_converters
import copy
import os
import netCDF4 as nc4            # to work with netCDFs
import numpy   as np             # to perform numerics
import time

register_matplotlib_converters()
os.getcwd()

'/Volumes/GoogleDrive/My Drive/DataReleasePaper/Chosen-Dataset/DataProduct'

In [3]:
watershed = ['1-EastRiver', '2-DryCreek','3-Sagehen','4-HJAndrews','5-Baltimore',
             '6-Bonanza','7-CCE','8-CentralArizona','9-Coweeta','10-Florida',
             '11-Georgia','12-Harvard','13-Hubbard','14-Jornada','15-Kellogg',
             '16-KonzaPrairie','17-NGA','18-PlumIsland','19-Sevilleta','20-Boulder',
             '21-Catalina','22-Jemez','23-WhiteClay','24-Luquillo','25-Reynolds',
             '26-ShaleHill','27-SanJoaquin','28-Providence','29-Wolverton','30-Calhoun']

In [4]:
path  = os.getcwd()
path

'/Volumes/GoogleDrive/My Drive/DataReleasePaper/Chosen-Dataset/DataProduct'

## Print out NetCDF file

In [5]:
ws='EastRiver'
File=ws+'_NetCDF.nc'
ncdf = nc4.Dataset(path +'/'+ File, 'r')

In [6]:
for v in ncdf.variables:
    print(ncdf.variables[v])

<class 'netCDF4._netCDF4.Variable'>
float64 Datetime(Dim_Datetime)
    range: ['2014-05-01', '2018-10-16']
unlimited dimensions:
current shape = (1630,)
filling off

<class 'netCDF4._netCDF4.Variable'>
vlen Grid(Dim_Grid)
    Latitude: ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']
    Longitude: ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']
    Elevation_m: ['3266', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']
    Area_km2: ['300', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']
vlen data type: <class 'str'>
unlimited dimensions:
current shape = (23,)

<class 'netCDF4._netCDF4.Variable'>
float64 Discharge(Dim_Datetime, Dim_Discharge_Grid)
    names: ['Avery_Discharge', 'Bradley_Discharge', 'Copper_Discharge', 'EastQuigley_Discharge', 'Gothic_Discharge', 'Marmot_Discharge', 'PHISCO_Discharge', 'Quigley_Discharge', 'Rock_Discharge', 'Rustlers_Discharge']
    time: ['2014-05-01', '2018-10-16']
    unit: L/s
    link:
unlimited dimensions:
current shape = (1630, 10)
filling off

<class 'netCDF4._netCDF4.Variable'>
float64 Precipitation(Dim_Datetime, Dim_Precipitation_Grid)
    names: ['00_Precipitation', '01_Precipitation', '02_Precipitation', '10_Precipitation', '11_Precipitation', '12_Precipitation', '20_Precipitation', '21_Precipitation', '22_Precipitation']
    time: ['2014-10-01', '2018-09-30']
    unit: mm
    link:
unlimited dimensions:
current shape = (1630, 9)
filling off

<class 'netCDF4._netCDF4.Variable'>
float64 AirTemperature(Dim_Datetime, Dim_AirTemperature_Grid)
    names: ['Castnet_AirTemperature', 'ERCSMWS_AirTemperature', 'JuddFalls_AirTemperature', 'KettlePonds_AirTemperature']
    time: ['2015-08-31', '2018-10-03']
    unit: Degree Celsius
    link:
unlimited dimensions:
current shape = (1630, 4)
filling off

<class 'netCDF4._netCDF4.Variable'>
float64 RelativeHumidity(Dim_Datetime, Dim_RelativeHumidity_Grid)
    names: ['ERCSMWS_RelativeHumidity', 'JuddFalls_RelativeHumidity']
    time: ['2015-09-29', '2018-10-03']
    unit: %
    link:
unlimited dimensions:
current shape = (1630, 2)
filling off

<class 'netCDF4._netCDF4.Variable'>
float64 SnowDepth(Dim_Datetime, Dim_SnowDepth_Grid)
    names: ['ERCSMWS_SnowDepth', 'JuddFalls_SnowDepth']
    time: ['2015-09-29', '2018-10-03']
    unit: mm
    link:
unlimited dimensions:
current shape = (1630, 2)
filling off

<class 'netCDF4._netCDF4.Variable'>
float64 SoilMoisture(Dim_Datetime, Dim_SoilMoisture_Grid)
    names: ['JuddFalls_SoilMoisture_508', 'JuddFalls_SoilMoisture_2540', 'JuddFalls_SoilMoisture_5080', 'KettlePonds_SoilMoisture_508', 'KettlePonds_SoilMoisture_2540', 'KettlePonds_SoilMoisture_5080']
    time: ['2015-09-28', '2018-10-03']
    unit: %
    link:
unlimited dimensions:
current shape = (1630, 6)
filling off

<class 'netCDF4._netCDF4.Variable'>
float64 SoilTemperature(Dim_Datetime, Dim_SoilTemperature_Grid)
    names: ['ERCSMWS_SoilTemperature_508', 'ERCSMWS_SoilTemperature_1016', 'ERCSMWS_SoilTemperature_2032', 'ERCSMWS_SoilTemperature_5080', 'ERCSMWS_SoilTemperature_10160', 'JuddFalls_SoilTemperature_508', 'JuddFalls_SoilTemperature_2540', 'JuddFalls_SoilTemperature_5080', 'KettlePonds_SoilTemperature_508', 'KettlePonds_SoilTemperature_2540', 'KettlePonds_SoilTemperature_5080']
    time: ['2015-09-28', '2018-10-03']
    unit: Degree Celsius
    link:
unlimited dimensions:
current shape = (1630, 11)
filling off

<class 'netCDF4._netCDF4.Variable'>
float64 Discharge_Flag(Dim_Datetime, Dim_Discharge_Grid)
unlimited dimensions:
current shape = (1630, 10)
filling off

<class 'netCDF4._netCDF4.Variable'>
float64 Precipitation_Flag(Dim_Datetime, Dim_Precipitation_Grid)
unlimited dimensions:
current shape = (1630, 9)
filling off

<class 'netCDF4._netCDF4.Variable'>
float64 AirTemperature_Flag(Dim_Datetime, Dim_AirTemperature_Grid)
unlimited dimensions:
current shape = (1630, 4)
filling off

<class 'netCDF4._netCDF4.Variable'>
float64 RelativeHumidity_Flag(Dim_Datetime, Dim_RelativeHumidity_Grid)
unlimited dimensions:
current shape = (1630, 2)
filling off

<class 'netCDF4._netCDF4.Variable'>
float64 SnowDepth_Flag(Dim_Datetime, Dim_SnowDepth_Grid)
unlimited dimensions:
current shape = (1630, 2)
filling off

<class 'netCDF4._netCDF4.Variable'>
float64 SoilMoisture_Flag(Dim_Datetime, Dim_SoilMoisture_Grid)
unlimited dimensions:
current shape = (1630, 6)
filling off

<class 'netCDF4._netCDF4.Variable'>
float64 SoilTemperature_Flag(Dim_Datetime, Dim_SoilTemperature_Grid)
unlimited dimensions:
current shape = (1630, 11)
filling off

## Get Datetime Information

In [7]:
def get_time_range(watershed_number):
    ws=watershed[watershed_number-1].split('-')[1]
    print(ws)
    File=ws+'_NetCDF.nc'
    ncdf = nc4.Dataset(path +'/'+ File, 'r')
    dt_lst=[pd.to_datetime(i) for i in ncdf.variables['Datetime'][:]]
    ncdf.close()
    print(ws+' data is from', dt_lst[0], 'to',dt_lst[-1])
    #return [str(dt_lst[0]),str(dt_lst[1])]

In [8]:
get_time_range(1)

EastRiver
EastRiver data is from 2014-05-01 00:00:00 to 2018-10-16 00:00:00

## Get Station Information

In [9]:
def get_station_name(watershed_number):
    ws=watershed[watershed_number-1].split('-')[1]
    print(ws)
    File=ws+'_NetCDF.nc'
    ncdf = nc4.Dataset(path +'/'+ File, 'r')
    stn_names=ncdf.variables['Grid'][:]
    ncdf.close()
    return stn_names
def get_station_latitude(watershed_number):
    ws=watershed[watershed_number-1].split('-')[1]
    print(ws)
    File=ws+'_NetCDF.nc'
    ncdf = nc4.Dataset(path +'/'+ File, 'r')
    stn_names=ncdf.variables['Grid'].Latitude
    ncdf.close()
    return stn_names
def get_station_longitude(watershed_number):
    ws=watershed[watershed_number-1].split('-')[1]
    print(ws)
    File=ws+'_NetCDF.nc'
    ncdf = nc4.Dataset(path +'/'+ File, 'r')
    stn_names=ncdf.variables['Grid'].Longitude
    ncdf.close()
    return stn_names
def get_station_elevation(watershed_number): # in meter
    ws=watershed[watershed_number-1].split('-')[1]
    print(ws)
    File=ws+'_NetCDF.nc'
    ncdf = nc4.Dataset(path +'/'+ File, 'r')
    stn_names=ncdf.variables['Grid'].Elevation_m
    ncdf.close()
    return stn_names

In [10]:
get_station_name(2)

DryCreek

array(['TL', 'BSG', 'LG', 'C1E', 'C1W', 'C2E', 'C2M', 'BRW', 'LDP', 'SCR',
       'LW', 'HN', 'HS', 'MHN', 'MHS', 'MLN', 'MLS', 'LN', 'LS'],
      dtype=object)

In [11]:
get_station_latitude(2)

DryCreek

['43.73019',
 '43.7407086',
 '43.68834',
 '43.7181614',
 '43.7184233',
 '43.7027903',
 '43.7022778',
 '43.75876',
 '43.737078',
 '43.71105',
 '43.6885278',
 '43.7406725',
 '43.739075',
 '43.7171517',
 '43.7205044',
 '43.7015067',
 '43.7049736',
 '43.6892464',
 '43.69082']

In [12]:
get_station_longitude(2)

DryCreek

['-116.140143',
 '-116.0989983',
 '-116.17862',
 '-116.1372986',
 '-116.1374192',
 '-116.1527722',
 '-116.154095',
 '-116.090404',
 '-116.1221131',
 '-116.09912',
 '-116.16991',
 '-116.118595',
 '-116.115775',
 '-116.1253089',
 '-116.1257444',
 '-116.1484592',
 '-116.1497381',
 '-116.1696892',
 '-116.1693822']

In [13]:
get_station_elevation(2)

DryCreek

['1610',
 '1680',
 '1036',
 '1335',
 '1342',
 '1158',
 '1143',
 '2114',
 '1850',
 '1720',
 '1151',
 '1812',
 '1835',
 '1472',
 '1457',
 '1288',
 '1298',
 '1120',
 '1139']

## Extract Data Table

In [14]:
def get_data(watershed_number,variable_names_lst=[]): # variable_names_lst=[] to get all the data
    ws=watershed[watershed_number-1].split('-')[1]
    print(ws)
    File=ws+'_NetCDF.nc'
    ncdf = nc4.Dataset(path +'/'+ File, 'r')
    keys_lst=list(ncdf.variables.keys())
    len_keys=len(keys_lst)
    print("Hydrometeorological variables in this watershed are:")
    all_variables=keys_lst[2:int(len_keys/2)]
    print(all_variables)
    if variable_names_lst==[]:
        for i,var in enumerate(all_variables):
            indexUnique = pd.date_range(str(pd.to_datetime(ncdf.variables['Datetime'][:][0])), 
                                        str(pd.to_datetime(ncdf.variables['Datetime'][:][-1])))  
            var_df=pd.DataFrame(ncdf.variables[var][:], index=indexUnique, 
                                columns = [ncdf.variables[var].names])
            if i==0:
                former_df=var_df
            else:
                former_df=pd.concat([former_df,var_df],axis=1,join='outer')
    else:
        for i,var in enumerate(variable_names_lst):
            indexUnique = pd.date_range(str(pd.to_datetime(ncdf.variables['Datetime'][:][0])), 
                                        str(pd.to_datetime(ncdf.variables['Datetime'][:][-1])))  
            
            if ncdf.variables[var][:].shape[1]==1:
                var_df=pd.DataFrame(ncdf.variables[var][:], index=indexUnique, columns = [ncdf.variables[var].names])
            else:
                var_df=pd.DataFrame(ncdf.variables[var][:], index=indexUnique, columns = ncdf.variables[var].names)
            
            if i==0:
                former_df=var_df
            else:
                former_df=pd.concat([former_df,var_df],axis=1,join='outer')      
    ncdf.close()
    former_df.index.rename('DateTime',inplace = True)
    return former_df

In [15]:
# get data for single hydrometeorological variable (filled data)
dis_df=get_data(2,['Discharge'])
dis_df.head()

DryCreek
Hydrometeorological variables in this watershed are:
['Discharge', 'Precipitation', 'AirTemperature', 'SolarRadiation', 'RelativeHumidity', 'WindDirection', 'WindSpeed', 'SnowDepth', 'SoilMoisture']

,TL_Discharge,BSG_Discharge,LG_Discharge,C1E_Discharge,C1W_Discharge,C2E_Discharge,C2M_Discharge
DateTime,,,,,,,
1999-02-06,NaN,NaN,107.096500,NaN,NaN,NaN,NaN
1999-02-07,NaN,NaN,130.111375,NaN,NaN,NaN,NaN
1999-02-08,NaN,NaN,111.309708,NaN,NaN,NaN,NaN
1999-02-09,NaN,NaN,133.532042,NaN,NaN,NaN,NaN
1999-02-10,NaN,NaN,119.681417,NaN,NaN,NaN,NaN

In [16]:
# get data for all hydrometeorological variables (filled data)
df=get_data(2,[])
df.head()

DryCreek
Hydrometeorological variables in this watershed are:
['Discharge', 'Precipitation', 'AirTemperature', 'SolarRadiation', 'RelativeHumidity', 'WindDirection', 'WindSpeed', 'SnowDepth', 'SoilMoisture']

,TL_Discharge,BSG_Discharge,LG_Discharge,C1E_Discharge,C1W_Discharge,C2E_Discharge,C2M_Discharge,BRW_Precipitation,LDP_Precipitation,SCR_Precipitation,...,LS_SoilMoisture_Pit1_30cm,LS_SoilMoisture_Pit2_2cm,LS_SoilMoisture_Pit2_15cm,LS_SoilMoisture_Pit2_30cm,LS_SoilMoisture_Pit3_2cm,LS_SoilMoisture_Pit3_15cm,LS_SoilMoisture_Pit3_30cm,LS_SoilMoisture_Pit4_2cm,LS_SoilMoisture_Pit4_15cm,LS_SoilMoisture_Pit4_30cm
DateTime,,,,,,,,,,,,,,,,,,,,,
1999-02-06,NaN,NaN,107.096500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-02-07,NaN,NaN,130.111375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-02-08,NaN,NaN,111.309708,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-02-09,NaN,NaN,133.532042,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-02-10,NaN,NaN,119.681417,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Extract Flag Table

In [17]:
def get_flag_data(watershed_number,variable_names_lst=[]): # variable_names_lst=[] to get all the data
    ws=watershed[watershed_number-1].split('-')[1]
    print(ws)
    File=ws+'_NetCDF.nc'
    ncdf = nc4.Dataset(path +'/'+ File, 'r')
    keys_lst=list(ncdf.variables.keys())
    len_keys=len(keys_lst)
    print("Hydrometeorological variables in this watershed are:")
    all_variables=keys_lst[2:int(len_keys/2)]
    print(all_variables)
    
    if variable_names_lst==[]:
        for i,var in enumerate(all_variables):
            indexUnique = pd.date_range(str(pd.to_datetime(ncdf.variables['Datetime'][:][0])), str(pd.to_datetime(ncdf.variables['Datetime'][:][-1])))  
            var_df=pd.DataFrame(ncdf.variables[var+'_Flag'][:], index=indexUnique, 
                                columns = ncdf.variables[var].names)
            if i==0:
                former_df=var_df
            else:
                former_df=pd.concat([former_df,var_df],axis=1,join='outer')
    else:
        for i,var in enumerate(variable_names_lst):
            indexUnique = pd.date_range(str(pd.to_datetime(ncdf.variables['Datetime'][:][0])), str(pd.to_datetime(ncdf.variables['Datetime'][:][-1])))  
            
            if ncdf.variables[var][:].shape[1]==1:
                var_df=pd.DataFrame(ncdf.variables[var+'_Flag'][:], index=indexUnique,  columns = [ncdf.variables[var].names])
            else:
                var_df=pd.DataFrame(ncdf.variables[var+'_Flag'][:], index=indexUnique,  columns = ncdf.variables[var].names)
            if i==0:
                former_df=var_df
            else:
                former_df=pd.concat([former_df,var_df],axis=1,join='outer')      
    ncdf.close()
    former_df.index.rename('DateTime',inplace = True)
    return former_df

In [18]:
# get flag table for single hydrometeorological variable
dis_flag=get_flag_data(2,['Discharge'])
dis_flag.head()

DryCreek
Hydrometeorological variables in this watershed are:
['Discharge', 'Precipitation', 'AirTemperature', 'SolarRadiation', 'RelativeHumidity', 'WindDirection', 'WindSpeed', 'SnowDepth', 'SoilMoisture']

,TL_Discharge,BSG_Discharge,LG_Discharge,C1E_Discharge,C1W_Discharge,C2E_Discharge,C2M_Discharge
DateTime,,,,,,,
1999-02-06,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1999-02-07,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1999-02-08,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1999-02-09,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1999-02-10,NaN,NaN,1.0,NaN,NaN,NaN,NaN

In [19]:
# Get flag table for all the hydrometeorological variables
flag_df=get_flag_data(2,[])
flag_df.head()

DryCreek
Hydrometeorological variables in this watershed are:
['Discharge', 'Precipitation', 'AirTemperature', 'SolarRadiation', 'RelativeHumidity', 'WindDirection', 'WindSpeed', 'SnowDepth', 'SoilMoisture']

,TL_Discharge,BSG_Discharge,LG_Discharge,C1E_Discharge,C1W_Discharge,C2E_Discharge,C2M_Discharge,BRW_Precipitation,LDP_Precipitation,SCR_Precipitation,...,LS_SoilMoisture_Pit1_30cm,LS_SoilMoisture_Pit2_2cm,LS_SoilMoisture_Pit2_15cm,LS_SoilMoisture_Pit2_30cm,LS_SoilMoisture_Pit3_2cm,LS_SoilMoisture_Pit3_15cm,LS_SoilMoisture_Pit3_30cm,LS_SoilMoisture_Pit4_2cm,LS_SoilMoisture_Pit4_15cm,LS_SoilMoisture_Pit4_30cm
DateTime,,,,,,,,,,,,,,,,,,,,,
1999-02-06,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-02-07,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-02-08,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-02-09,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-02-10,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN