In [1]:
import pandas as pd

In [2]:
path = r"G:\Shared drives\Ryoko and Hilary\SMSigxModel\analysis\data\Coweeta\forcing_daily_2014_2018.csv"
data = pd.read_csv(path, parse_dates=['time'], index_col='time')
data.head()

                PET  precip_rate
time
2015-08-04  0.00496     0.000254
2015-08-05  0.00477     0.000000
2015-08-06  0.00262     0.005080
2015-08-07  0.00276     0.000762
2015-08-08  0.00412     0.000000

In [9]:
yearly_pet = data['PET'].resample('Y').sum() * 1000
yearly_pet

time
2015-12-31    299.90
2016-12-31    933.11
2017-12-31    828.77
2018-12-31    306.47
Freq: A-DEC, Name: PET, dtype: float64

In [10]:
yearly_p = data['precip_rate'].resample('Y').sum() * 1000
yearly_p

time
2015-12-31    1319.538
2016-12-31    1485.924
2017-12-31    1719.092
2018-12-31    1271.254
Freq: A-DEC, Name: precip_rate, dtype: float64

### Simple Runoff coefficient calculation

In [11]:
(yearly_p-yearly_pet)/yearly_p

time
2015-12-31    0.772723
2016-12-31    0.372034
2017-12-31    0.517902
2018-12-31    0.758923
Freq: A-DEC, dtype: float64

In [12]:
path = r"G:\Shared drives\Ryoko and Hilary\SMSigxModel\analysis\data\Mahurangi\forcing_daily_1998_2001.csv"
data = pd.read_csv(path, parse_dates=['time'], index_col='time')
data.head()

            precip_rate       PET
time
1998-02-20     0.000173  0.001973
1998-02-21     0.018809  0.005810
1998-02-22     0.012084  0.006268
1998-02-23     0.010793  0.006405
1998-02-24     0.019835  0.005938

In [13]:
yearly_pet = data['PET'].resample('Y').sum() * 1000
yearly_pet

time
1998-12-31     911.694929
1999-12-31    1149.900793
2000-12-31    1253.590264
2001-12-31     716.292323
Freq: A-DEC, Name: PET, dtype: float64

In [14]:
yearly_p = data['precip_rate'].resample('Y').sum() * 1000
yearly_p

time
1998-12-31    1764.620799
1999-12-31    1368.178633
2000-12-31    1483.206982
2001-12-31    1366.884302
Freq: A-DEC, Name: precip_rate, dtype: float64

In [15]:
(yearly_p-yearly_pet)/yearly_p

time
1998-12-31    0.483348
1999-12-31    0.159539
2000-12-31    0.154811
2001-12-31    0.475967
Freq: A-DEC, dtype: float64