In [7]:
import pandas as pd
import os
import matplotlib.pyplot as plt

In [10]:
input_path = r"..\2_GLUE_prerun\results\LittleWashita-2023-08-29-determine-GW-param-range-NWM\LittleWashita-2023-08-29"
output_path = r".\results\LittleWashita-2023-08-29-determine-GW-param-range-NWM"
if not os.path.exists(output_path):
    os.makedirs(output_path)

In [11]:
evaluation_metrics = pd.read_csv(os.path.join(input_path, "evaluation_metrics.csv"))
evaluation_metrics.set_index(keys="run_id", inplace=True)
evaluation_metrics.head()

        NSE on Flow  NSE on Soil  KGE on Flow  KGE on Soil
run_id
0         -4.342875    -3.722443    -0.629328    -0.333352
1         -0.406946   -18.189859    -0.327886    -0.936062
2        -52.129304    -3.395149    -5.467403    -0.039913
3        -18.626335    -1.972789    -2.670875     0.085320
4        -12.072734   -10.175416    -1.753013    -0.506380

In [12]:
parameters = pd.read_csv(os.path.join(input_path, "prior_parameters.csv"))
parameters.set_index(keys="run_id", inplace=True)
parameters.head()

,bb,satdk,satpsi,slop,smcmax,wltsmc,max_gw_storage,Cgw,expon,K_nash,refkdt,trigger_z_fact,alpha_fc,K_lf
run_id,,,,,,,,,,,,,,
0,21.587925,0.000349,0.091872,0.282783,0.518195,0.000229,0.113643,0.000700,2.180742,0.989675,3.331315,0.534136,0.319671,0.571848
1,21.364201,0.000609,0.254420,0.535846,0.849618,0.035194,0.142842,0.000502,6.248089,0.518331,1.303579,0.455649,0.319728,0.062449
2,11.262731,0.000025,0.173968,0.271236,0.505315,0.115534,0.208630,0.000699,6.332004,0.357101,0.218513,0.251491,0.307040,0.631177
3,14.181338,0.000680,0.352305,0.571831,0.261620,0.026274,0.166173,0.000812,5.451843,0.569355,3.499928,0.534821,0.271923,0.235041
4,11.447507,0.000411,0.299269,0.289519,0.624027,0.111778,0.103961,0.000691,4.896384,0.606180,2.903972,0.587136,0.292797,0.317931

In [13]:
all_results = pd.concat([evaluation_metrics, parameters], axis=1)
all_results.head()

,NSE on Flow,NSE on Soil,KGE on Flow,KGE on Soil,bb,satdk,satpsi,slop,smcmax,wltsmc,max_gw_storage,Cgw,expon,K_nash,refkdt,trigger_z_fact,alpha_fc,K_lf
run_id,,,,,,,,,,,,,,,,,,
0,-4.342875,-3.722443,-0.629328,-0.333352,21.587925,0.000349,0.091872,0.282783,0.518195,0.000229,0.113643,0.000700,2.180742,0.989675,3.331315,0.534136,0.319671,0.571848
1,-0.406946,-18.189859,-0.327886,-0.936062,21.364201,0.000609,0.254420,0.535846,0.849618,0.035194,0.142842,0.000502,6.248089,0.518331,1.303579,0.455649,0.319728,0.062449
2,-52.129304,-3.395149,-5.467403,-0.039913,11.262731,0.000025,0.173968,0.271236,0.505315,0.115534,0.208630,0.000699,6.332004,0.357101,0.218513,0.251491,0.307040,0.631177
3,-18.626335,-1.972789,-2.670875,0.085320,14.181338,0.000680,0.352305,0.571831,0.261620,0.026274,0.166173,0.000812,5.451843,0.569355,3.499928,0.534821,0.271923,0.235041
4,-12.072734,-10.175416,-1.753013,-0.506380,11.447507,0.000411,0.299269,0.289519,0.624027,0.111778,0.103961,0.000691,4.896384,0.606180,2.903972,0.587136,0.292797,0.317931

In [14]:
target_params = ["max_gw_storage", "Cgw", "expon", "smcmax"]
eval_metrics_names = ["NSE on Flow", "NSE on Soil", "KGE on Flow", "KGE on Soil"]

In [15]:
def plot_parameter_dotty(all_results, target_params, eval_metrics, output_path):
    nparas = len(target_params)

    for target_eval in eval_metrics:
        f, axes = plt.subplots(
            nparas, 1, figsize=(7, 7), constrained_layout=True
        )

        for i, target_para in enumerate(target_params):
            ax = axes[i]
            ax.scatter(
                all_results[target_para],
                all_results[target_eval],
                alpha=0.5,
            )
            ax.tick_params(axis="both", which="major", labelsize=16)
            ax.set_xlabel(target_para, fontsize=16)
            ax.set_ylabel(target_eval, fontsize=16)
            ax.set_ylim([-1, 1])

        save_path = os.path.join(output_path, f"param_dotty_{target_eval}.png")
        f.savefig(save_path, dpi=600)
        plt.close(f)

In [16]:
plot_parameter_dotty(all_results, target_params, eval_metrics_names, output_path)